
body {
   background:  linear-gradient(to right, #2C3E50 , #000 );
   color: white;
   height: 100vh;
   display: flex;
   flex-direction: column;
   align-items: center;
}

header h1 {
    text-align: center;
    margin: 25px 0;
    font-size: 48px;
}

main {
    max-width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.container {
    display: grid;
    grid-template: repeat(4, 1fr)/ repeat(4, 1fr);
    width: 100%;
    grid-gap: 15px;
    
}

.cardSpace {
    border-radius: 5px;
    background: rgb(85, 85, 85, .1);
    
 
}

.cardSpace img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 5px;
    background-size: cover;
    display: block;
    aspect-ratio: 61/76;
 
}

@media screen and (min-width: 810px) {
   .container {
     grid-template: repeat(4, calc(760px/4))/ repeat(4, calc(600px/4));
     width: 650px;
   }
}

